<ion-header>
  <ion-toolbar>
    <ion-title>Add Client</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="clientForm">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addClient()">OK</ion-button>
    </form>
  </ion-list>
</ion-content>
