<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients/detail/{{clientId}}/project-details/{{projectId}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ staff?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-accordion keyboard-shortcut="[s]">
            <ion-item slot="header" color="light">
              <ion-label>Associated Actors</ion-label>
            </ion-item>
            <ion-card slot="content" keyboard-shortcut="[a]">
              <ion-button
                (click)="onAddStaff()"
                class="add-actor-button"
                fill="clear"
                color="dark"
              >
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-card-header>
                <ion-card-title>Associated Actors:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let actor of actors">
                    <ion-label> {{ actor.role }} </ion-label>
                    <ion-buttons slot="end">
                      <ion-button (click)="openActionSheet(actor)">
                        <ion-icon
                          name="ellipsis-vertical"
                          slot="icon-only"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-accordion>
          <ion-accordion keyboard-shortcut="[i]">
            <ion-item slot="header" color="light">User Stories</ion-item>
            <ion-card slot="content" keyboard-shortcut="[u]">
              <ion-button
                (click)="onAddUserStory()"
                class="add-actor-button"
                fill="clear"
                color="dark"
              >
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-card-header>
                <ion-card-title>User Stories:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item
                    *ngFor="let userStory of userStories"
                    (click)="navigateToDetailUserStory(userStory)"
                  >
                    <ion-label>• {{ userStory.story }} </ion-label>
                    <ion-buttons slot="end">
                      <ion-button
                        (click)="openActionSheetUserStory(userStory); $event.stopPropagation()"
                      >
                        <ion-icon
                          name="ellipsis-vertical"
                          slot="icon-only"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
