<ion-header>
  <ion-toolbar>
    <ion-title>Actor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" keyboard-shortcut="[d]"
        >Close</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="actorForm" (ngSubmit)="onSubmit()">
      <ion-item keyboard-shortcut="[r]">
        <ion-label position="floating">Actor Role</ion-label>
        <ion-input formControlName="role" type="text"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" keyboard-shortcut="[o]"
        >Confirm</ion-button
      >
    </form>
  </ion-list>
</ion-content>
