<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients/detail/{{clientId}}/project-details/{{projectId}}/actor-details/{{actorId}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ useCase?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header" color="light"
              >Associated User Stories</ion-item
            >
            <ion-card slot="content">
              <ion-button
                (click)="onAddUserStory()"
                class="add-actor-button"
                fill="clear"
                color="dark"
              >
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-card-header>
                <ion-card-title>Associated User Stories:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let userStory of userStories">
                    <ion-label> {{ userStory.story }} </ion-label>
                    <ion-buttons slot="end">
                      <ion-button (click)="openActionSheet(userStory)">
                        <ion-icon
                          name="ellipsis-vertical"
                          slot="icon-only"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header" color="light"
              >Use Case Specification</ion-item
            >
            <ion-card slot="content">
              <ion-button
                (click)="onAddUseCaseSpecification()"
                class="add-actor-button"
                fill="clear"
                color="dark"
              >
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-card-header>
                <ion-card-title>User Case Specifications:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item
                    *ngFor="let useCaseSpecification of specificationSections"
                    (click)="navigateToDetailUseCaseSpecification(useCaseSpecification)"
                  >
                    <ion-label class="ion-text-wrap"
                      >• {{ useCaseSpecification.body }}
                    </ion-label>
                    <ion-buttons slot="end">
                      <ion-button
                        (click)="openActionSheetUseCaseSpecification(useCaseSpecification); $event.stopPropagation()"
                      >
                        <ion-icon
                          name="ellipsis-vertical"
                          slot="icon-only"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
