<ion-header>
  <ion-toolbar>
    <ion-title>New User Story</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" keyboard-shortcut="[w]"
        >Close</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Story</ion-label>
        <ion-textarea type="text" formControlName="story"></ion-textarea>
      </ion-item>
    </form>

    <ion-card-header *ngIf="!fromActorDetail">
      <ion-card-title>Actor:</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="!fromActorDetail">
      <ion-list>
        <ion-radio-group [(ngModel)]="defaultActorId">
          <ion-item *ngFor="let staffMember of actorList">
            <ion-label>{{ staffMember.role }}</ion-label>
            <ion-radio
              [value]="staffMember.id"
              (click)="updateCheckedItems(staffMember, $event)"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button
    type="submit"
    expand="block"
    (click)="submit()"
    keyboard-shortcut="[i]"
    >Confirm</ion-button
  >
</ion-content>
