/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// .ctrl-shortcut-button {
//   text-decoration: underline;
//   color: dodgerblue;
// }

// .alt-shortcut-button {
//   text-decoration: underline;
//   color: rgb(115, 242, 115);
// }

// .ctrl-alt-shortcut-button {
//   text-decoration: underline;
//   color: rgb(239, 82, 82);
// }

.ctrl-shortcut-button.active {
  text-decoration: underline;
  color: rgb(158, 231, 255);
}

.alt-shortcut-button.active {
  text-decoration: underline;
  color: rgb(20, 148, 20);
}

.ctrl-alt-shortcut-button.active {
  text-decoration: underline;
  color: rgb(239, 82, 82);
}

.hidden-shortcut {
  display: none;
}
