<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="hello" keyboard-shortcut="[h]" (click)="hello()"
    >Hello!</ion-button
  >
  <ion-button id="hello2" keyboard-shortcut="[e]" (click)="hello2()"
    >Hello!</ion-button
  >
  <ion-button id="hello3" keyboard-shortcut="[Y]" (click)="hello3()"
    >Hello!</ion-button
  >
  <ion-button id="hello4" keyboard-shortcut="[Z]" (click)="hello4()"
    >Hello!</ion-button
  >
  <ion-item keyboard-shortcut="[i]">
    <ion-label position="floating">Input</ion-label>
    <ion-input id="input"></ion-input>
  </ion-item>
  <ion-item keyboard-shortcut="[n]">
    <ion-label position="floating">Input</ion-label>
    <ion-input id="input2"></ion-input>
  </ion-item>
  <ion-item keyboard-shortcut="[B]">
    <ion-label position="floating">Input</ion-label>
    <ion-input id="input3"></ion-input>
  </ion-item>
  <ion-item keyboard-shortcut="[Q]">
    <ion-label position="floating">Input</ion-label>
    <ion-input id="input4"></ion-input>
  </ion-item>
</ion-content>
